<%
var title = post.title;
var url = config.url + url_for(post.path);
%>

<div class="btn-group social_buttons">
	<button
	  class="btn btn-default disabled"
	>
	  Поделиться:
	</button>
  
	<a class="btn btn-default" target="_blank" title="Через ВКонтакте" 
		href="http://vk.com/share.php?url=<%- url %>&title=<%= title %>"
	>
	  <i class="fa fa-vk fa-lg vk"></i>
	</a>
  
	<a class="btn btn-default" target="_blank" title="Через Твиттер"
		href="http://twitter.com/share?url=<%- url %>&text=<%= title %>"
	>
	  <i class="fa fa-twitter fa-lg tw"></i>
	</a>
  
	<a class="btn btn-default" target="_blank" title="Через Facebook"
		href="http://www.facebook.com/sharer.php?u=<%- url %>&t=<%= title %>"
	>
		<i class="fa fa-facebook fa-lg fb"></i>
	</a>
</div>